body {
    background-color: #EBEBEB;
}

h1 {
    text-align: center;
}

#auth {
    background-color: #EBDDFA;
    border: 3px solid black;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    margin: 10% auto;
    padding: 10%;
}

div {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1%;
}

#text {
    background-color: #F3F6FF;
    border: 1px solid;
    border-radius: 5px;
    padding: 1%;
}

#ent {
    position: absolute;
    left: 43%;
}

#imp {
    color: red;
}

h3 {
    /*outline: 1px solid red;*/
    text-shadow: 1px 1px 1px gray;
    position: absolute;
    left: 31%;
    bottom: 45%;
    z-index: 1;
}







